.App {
  text-align: center;
  background-color: lightgray;
}
.ToolBar{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
}
.Routes{
  display: flex;
}
.Routes > * {
  padding: 10px;
}
.MainView{
  display: flex;
  justify-content: center;
}
